<nav class="navbar">
    <a class="nav-brand" href="/">Mi Turnero</a>

    <ul class="nav-links">
        <li><a href="/services">Servicios</a></li>
        <li><a href="/admin?pass=1234">Admin</a></li>
    </ul>
</nav>