<h1>Panel de Administración</h1>

<div class="admin-menu">
  <a class="btn" href="/admin/services?pass=1234">Servicios</a>
  <a class="btn" href="/admin/appointments-week?pass=1234">Turnos (Semana)</a>
  <a class="btn" href="/admin/blocks?pass=1234">Bloqueos</a>
</div>

