<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    {{> navbar }}

    <main class="container">
        {{{ body }}}
    </main>

</body>

<script src="/js/utils.js"></script>
<script src="/js/appointments.js"></script>
<script src="/js/services.js"></script>
<script src="/js/admin.js"></script>

</html>